img
{
    height: auto; 
    max-width: 100%;
    padding-top: 5.5px;
    position: relative;

}

#inicio

{
   /* height: 100%;*/
   font-family: 'Poppins', 'sans-serif';

}

#titulo1{

    font-size: 60px;
}

#parrafo1{
    font-size: 18px;
}

#titulo2, #titulo3{

    font-size: 26px;
}






  /*  background-image: url("../img/fondo_ppal2.png");*/

   /* height: 100%;*/








