img
{
    height: auto; 
    max-width: 100%;
    padding-top: 5.5px;
    position: relative;

}

#inicio

{
   /* height: 100%;*/
   font-family: 'Poppins', 'sans-serif';

}



  /*  background-image: url("../img/fondo_ppal2.png");*/

   /* height: 100%;*/








